body {
  background-color: black;
  color: white;
  font-family: Arial;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgba(51,51,51);
  color: white;
  cursor: pointer;
  margin-right: 5px;
  font-size: 20px;
}

.result{
  font-size: 35px;
}

.clear-button{
  font-size: 14px;
}

.operator-button{
  background-color: rgb(254, 160, 10);
}